<!-- <app-courses></app-courses> -->
<!-- <app-courses [is-favourite]="post.isFavourite" (change)="isFavoriteSelected()"></app-courses> --> <!-- if we expect this to work then isFavourite MUST be defined as Input property of
    of component which app-courses represents to. Even though being public, this property can not be set like for DOM attributes. -->
<!-- passing data to handlers in event binding -->
<!-- <app-courses [is-favourite]="post.isFavourite" (change)="isFavoriteSelected($event)"></app-courses> -->
<!-- <app-titlecase></app-titlecase> -->

<!-- in following case, whole div with selector class gets copied to custom component, but if we only want its content to be copied
    see other example  
<bootstrap-panel>
    <div class="heading">Heading</div>
    <div class="body">
        <h2>Body</h2>
    </div>
</bootstrap-panel> -->

<!-- use of ng-container to instruct angular to only copy contents inside it to custom component 
<bootstrap-panel>
    <ng-container class="heading">Heading</ng-container>
    <ng-container class="body">
        <h2>Body</h2>
    </ng-container>
</bootstrap-panel> -->
<!--like project
<likes [likesCount]="tweet.likesCount" [isActive]="tweet.isLiked"></likes>-->
<!-- ngIf with template variable
<app-courses></app-courses> -->
<!-- ngFor
<app-courses></app-courses>-->
<!-- zippy project
<zippy title="Shipping Details">Shipping Details Content</zippy>
<zippy title="Billing Details">Billing Details Content</zippy>-->
<!--
<contact-form></contact-form>-->
<!--<form-project></form-project>-->
<!-- <signup-form></signup-form> -->
<!-- <topic-form></topic-form> -->
<!-- <passchangeform-poject></passchangeform-poject> -->
<!-- <posts></posts> -->
<sidenavbar heading="Projects"></sidenavbar>
<!-- <githubfollowers-project></githubfollowers-project> -->
<!-- <router></router>-->
<!-- <router-outlet></router-outlet> -->
<!-- <router-outlet></router-outlet> -->
